.topbar {background-color: rgba(0, 0, 0, 0.818);height: 8vh;width: auto;}
.nav_left {float: left; color: white; display: flex;width: auto;}
li {display: inline-flex; padding-right: 2.5%; padding-left: 2.5%;}
li:hover {background-color: wheat; border-radius: 10%;}
ul { white-space: nowrap;}
.nav_right {float: right; color: white; width: 25%; }
.website_title {background-image: url(galaxy.jpg); 
    height: 50vh;
    margin-top: 0%;
    color: white;
    text-align: center;width: auto;}
    .text_container {padding-top: 7%;}
    .feature_section {display: flex; 
        padding-top: 5%;
        color: grey;padding-bottom: 5%;}  
    #stories {color: black;}
    .thumb {width: 20%; margin-left: 2%;}
    .fun {width: 20%; margin-left: 2%;}
    .love {width: 20%; margin-left: 2%;}
    .people_section {background-color: rgb(216, 211, 211); 
        display: flex; 
       padding-top: 5%; padding-bottom: 5%; width: auto;}
        .person1 {width: 20%; margin-left: 2%;}
        .person2 {width: 20%; margin-left: 2%;}
        .person3 {width: 20%; margin-left: 2%;}
        #dp1 {float: left;}
        #personname {font-weight: bold;float: left}
        #persontitle {margin-top: 0%;}
        h3 {color: grey; margin-left: 5%;}
        #comment {background-color: white; }
        footer {background-color:rgba(0, 0, 0, 0.818); align-items: center; text-align: center;padding-top: 2%;padding-bottom: 1%; color: grey;}
        button {color: white; border-color: white; border-style: solid; padding: 1%; font-size: large; background-color: transparent; cursor: pointer; margin-right: 1%;}
       #btn:hover { background-color: white; opacity: 50%; color: black; }
       body {margin: 0%;}